/* .jumbotron{
    background-image: url("../../assets/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .jumbotron{
    border-radius: 0;
  } */
  
  .overlay{
    background-color: rgba(0,0,0,0.0);
    height: inherit;
  }
  
  .contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-img{
    height: 300px;
    width: 300px;
  }
  
  @media (max-width: 740px) {
  
    hr {
      height: 0;
      width: 0;
    }
  
  }
  
  .user{
    font-size: 30px;
    color: black;
  }
  
  .footer-text{
    font-family: system-ui, serif;
    padding-top: 20px;
    padding-bottom:-40px;
    color: rgb(196, 12, 12);
  }
  